.Task {
    text-align:center;
    list-style-type: none;
    cursor: pointer;


    .done {
        list-style-type: none;
        color: red;
        text-decoration: line-through;
    }

}